div {
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.selection {
    width:400px;
}

.list {
    background-color: white;
    margin-top:5px;
    border-radius: 4px;
}

.list:hover{
    background-color: rgb(214, 211, 211);
    text-decoration: line-through;
}